header {
  height: 60px;
  background: beige;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.header-right {
  display: flex;
}
.header-right-item {
  margin-right: 30px;
}