<header>
  <div class="header-wrapper">
    <div class="header-left">
      <h1 class="header-text">shake LIVE</h1>
    </div>
    <ul class="header-right">
      <li class="header-right-item"><%= link_to 'ログイン', class: "login" %></li>
      <li class="header-right-item"><%= link_to '新規登録', class: "sign-up" %></li>
    </ul>
  </div>
</header>